<nav class="join-header-nav" style="padding-bottom: 50px;">
   <form action="/logout" method="post">
        <button type="submit" class="logoutBtn">Logout 
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </form>
</nav>